* {
    font-family: 'DM Serif Display', serif;
}

.koala-mode {
    background-image: url(https://media0.giphy.com/media/jxwYHbBbKiXwebfVxt/giphy.gif?cid=790b7611df025f25e025554203527b63f36e2e375db01e9d&rid=giphy.gif&ct=g);
}

.koala-mode-button {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.sticky-note-wrapper {
    background-color: #f9c74f;
    margin-bottom: 10px; 
    /* border: 10px double #642A11; */
    border: 10px #642A11;
    border-radius: 20px;
    padding: 1rem; 
    min-height: 200px; 
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
    display: flex; 
    flex-direction: column;
}

.sticky-note-footer {
    background-color: #f9c74f;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.note-form {
    /* background-color: rgb(235, 129, 129); */
    display: flex; 
    flex-direction: row; 
    width: 200px; 
    max-width: 200px;
}

.add-button {
    margin-top: 5px;
    background-color: salmon;  
    cursor: pointer; 
    padding: 5px; 
    outline: none; 
    text-decoration: none;
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    color: black; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.add-button:hover {
    background-color: purple;
}

.note-textarea {
    background-color: rgb(233, 208, 208);
    font-family: 'DM Serif Display', serif;
    max-width: 200px; 
    max-height: 200px;
    width: 200px; 
    height: 100px;
}

.delete-button {
    cursor: pointer;
    background-color:rgb(218, 44, 44);
    text-decoration: none;
    cursor: pointer; 
    padding: 3px; 
    outline: none; 
    text-decoration: none;
    border: none;
    color: black; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.delete-button:hover {
    background-color: lavender;
}

all-notes-wrapper {
    display: grid; 
    grid-gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.add-picture {
    background-color: lavender; 
    border: 10px #642A11;
    border-radius: 20px;  
    cursor: pointer; 
}

.add-picture:hover {
    background-color: purple; 
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}

.file-upload {
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    color: black; 
    background-color: lavender; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
}

#id {
    background-color: yellow;
}

.color {
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 3px;
    cursor: pointer;
    border-radius: 10px; 
}

.clr1 {
    background-color: #90be6d;
}

.clr2 {
    background-color: #577590;
}

.clr3 {
    background-color: #f94144;
}

.clr4 {
    background-color: #277da1;
}

.sticky-note-box {
    background-color: pink; 
    width: 200px;
    height: 200px;
    border: 10px #642A11;
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex; 
    margin-bottom: 10px;
    flex-direction: column;
}