* {
    font-family: 'DM Serif Display', serif;
    /* background-color: whitesmoke;  */
}

.App-wrapper {
    height: 100%; 
    background-color: whitesmoke;
}

#root {
    height: 100%; 
    width: 100%; 
    background-color: #F3F2F0; 
}

.header {
    background-color: #F3F2F0;
}

.App {
  background-color: #F3F2F0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
} 

html {
    background-color: #F3F2F0; 
}

.koala-mode-button {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.koala-mode {
  background: url(https://media0.giphy.com/media/jxwYHbBbKiXwebfVxt/giphy.gif?cid=790b7611df025f25e025554203527b63f36e2e375db01e9d&rid=giphy.gif&ct=g); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.sticky-note-wrapper {
    /* background-color: #f9c74f; */
    background-color: #fff2b2;
    margin-bottom: 10px; 
    border: 10px #642A11;
    border-radius: 20px;
    padding: 1rem; 
    max-width: 200px;
    max-height: 250px;
    height: 200px; 
    align-items: center;
    justify-content: space-between;
    display: flex; 
    flex-direction: column;
}

.sticky-note-footer {
    background-color: #f9c74f;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.note-form {
    /* background-color: rgb(235, 129, 129); */
    display: flex; 
    flex-direction: row; 
    width: 200px; 
    max-width: 200px;
}

.add-button {
    margin-top: 5px;
    background-color: #f4acb7;  
    cursor: pointer; 
    padding: 5px; 
    outline: none; 
    text-decoration: none;
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    color: black; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.add-button:hover {
    background-color: rgb(218, 44, 44);
}

.note-textarea {
    background-color: whitesmoke;
    font-family: 'DM Serif Display', serif;
    max-width: 200px; 
    max-height: 200px;
    width: 200px; 
    height: 100px;
}

.delete-button {
    cursor: pointer;
    background-color:#f4acb7;
    text-decoration: none;
    cursor: pointer; 
    /* padding: 3px;  */
    outline: none; 
    text-decoration: none;
    border: none;
    color: black; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
    align-items: center; 
    justify-content: center; 
}

.delete-button:hover {
    background-color: rgb(218, 44, 44);
}

all-notes-wrapper {
    display: grid; 
    grid-gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.add-picture {
    background-color: #f4acb7; 
    border: 10px #642A11;
    border-radius: 20px;  
    cursor: pointer; 
}

.add-picture:hover {
    background-color: rgb(218, 44, 44); 
}

.outside-button {
    background-color: #f4acb7;  
    cursor: pointer; 
    padding: 5px; 
    outline: none; 
    text-decoration: none;
    width: 150px;
    height: 30px;
    color: white;
    border: none;
    color: black; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.clear-all-notes:hover {
    background-color: rgb(218, 44, 44);
    cursor: pointer; 
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}

.file-upload {
    width: 150px;
    cursor: pointer; 
    height: 30px;
    border: none;
    color: black; 
    background-color: #f4acb7; 
    margin-left: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.file-upload:hover {
    background-color: rgb(218, 44, 44);
    cursor: pointer; 
}

.color {
    display: table-cell;
    width: 50px;
    height: 50px;
    margin: 3px;
    cursor: pointer;
    border-radius: 10px; 
}

.green {
    background-color: #90be6d;
}

.purple{
    background-color: #b5179e;
}

.red {
    background-color: #f94144;
}

.blue {
    background-color: #277da1;
}

.sticky-note-box {
    background-color: #caf0f8; 
    width: 200px;
    height: 200px;
    max-height: 200px;
    max-width: 200px;
    border: 10px #642A11;
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex; 
    margin-bottom: 10px;
    flex-direction: column;
}

.cancel-button {
    background-color: lavender; 
}

.upload-button {
    background-color: lavender; 
}